body {
  margin-bottom: 100px;
  height: 100%;
}

/* Navbar */
.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  background-color: #051f22 !important;
  color: white !important;
  margin-bottom: 50px;
}
.fa-bars, .nav-link, .navbar-brand {
  color: white !important;
}
.fixed-bottom {
  height: 80px;
  margin-bottom: 0;
}