body {
  background-image: url('../images/bg.jpg');
  background-size: 100%;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  padding-bottom: 170px;
}

/* Navbar */
.uk-navbar {
  background-color: #051f22 !important;
  height: 50px;
}
.uk-navbar-nav {
  right: 3% !important;
}
.nav-link {
  color: #fff !important;
}

.uk-card {
  width: 30%;
  margin-left: 5%;
  margin-top: 5%;
  height: 40%
}
/* Create stickie footer */ 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #051f22;
  color: white;
  text-align: center;
  margin-top: 50px;
}